#kosbiesface {
    font-weight: bold;
    margin: 40px;
}


.panel {
    background-color: red;
    padding: 20px;
}


.panel:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
